.checkbox
	display flex
	flex-wrap wrap
	flex-direction column
	align-items center
	height 13em
	font-size 21px

	+mobile()
		height auto

	&__skill
		margin-bottom 15px
		display flex
		// background-color red
		// border 1px solid yellow

		[type='checkbox'] + &:before
			content ''

			position relative
			top .07em
			flex-basis 19px
			margin-right 6px
			background-image url('../images/checkbox.png')
			background-repeat no-repeat
			background-position center top

		[type='checkbox']:checked + &:before
			background-image url('../images/checkbox.png'), url('../images/checkbox-check.png')

	a
		color #1f5f97

	input
		display none

	p
		width 33.33%

		+mobile()
			width 100%



