mixin header()
	+b('header').header&attributes(attributes)
		+e('h1').figures
			+e('a').logo(href='http://csssr.ru/' target="_blank")
				+e('img')(src='./assets/images/logo.png' alt='CSSSR logo')
		+e('h2').title
			+e('img')(src='./assets/images/title.png' alt='title')
