.radio
	display flex
	flex-wrap wrap
	font-size 20px

	input
		display none

	p
		margin-right 13px

	&__radiobutton
		display flex
		align-items center

		[type='radio'] + &:before
				width 45px
				height 45px
				content ''
				background-image url('../images/radio.png')
				background-repeat no-repeat
				background-position center

		[type='radio']:checked + &:before
			background-image url('../images/radio-dot.png'), url('../images/radio.png')
